<div class="container">
	<div class="left">
		<div class="panel">
			<img src="assets/Images/c4.jpg">
		</div>

	</div>
	<div class="right">
		<div class="text-box">
			<h1>5 YEARS IN INDIA</h1>
			<p>FROM 5 YEARS TO INFINITY</p>
			<p>Explore your favorite destinations in India as we celebrate 5 years of delivering memorable moments.</p>
			<button>EXPLORE INDIA</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="column">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="assets/Images/card1.jpg" class="card-image" style="object-fit: cover;" alt="Card 1">
				</div>
				<div class="flip-card-back">
					<h3>King Studio Suite</h3>
					<p>King Studio Suite is typically characterized by its main room, which serves as a multi-functional space. It usually includes a king-sized bed, a seating area with a sofa or armchairs, and a work desk.
						The bed is often the focal point of the room, providing a cozy and restful environment for guests to unwind and recharge</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="assets/Images/card2.jpg" alt="Card 2" class="card-image">
				</div>
				<div class="flip-card-back">
					<h3>Suite Room</h3>
					<p>Suites are typically larger than standard and deluxe rooms, offering ample space for relaxation and entertainment. They often consist of separate living areas, bedrooms, and sometimes even a kitchenette or dining area.

						The layout is carefully designed to provide a seamless flow between the different sections of the suite, ensuring maximum comfort and convenience for guests.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="assets/Images/card3.jpg" alt="Card 3" class="card-image">
				</div>
				<div class="flip-card-back">
					<h3>Deluxe Room</h3>
					<p>Deluxe rooms are known for their spaciousness and luxurious design. These rooms typically offer more square footage compared to standard rooms, providing guests with ample space to relax and unwind. The layout of deluxe rooms is meticulously planned to maximize comfort and functionality.

						Guests can expect a separate seating area, a well-appointed work desk, and a comfortable bed to ensure a restful stay</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="assets/Images/card4.jpg" alt="Card 4" class="card-image">
				</div>
				<div class="flip-card-back">
					<h3>Presidential Room</h3>
					<p>Presidential rooms typically have a modest size, perfect for solo travelers or couples. They are usually equipped with a comfortable bed, a small desk or table, and a chair. The layout is designed to maximize space efficiency, allowing guests to move around comfortably</p>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

