
* {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 10px;
    margin-left: 55px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.panel {
    flex: 1;
    position: relative;
}

.panel img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    /* Add transition for smooth effect */
}

/* Add a hover effect to the image */
.panel img:hover {
    transform: scale(1.05);
    /* Slightly scale the image */
    box-shadow: 0px 0px 20px 5px rgba(66, 69, 238, 0.5);
    /* Add a white glow around the image */
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    color: black;
    padding: 50px;
}

.text-box {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add transition for smooth effect */
}

button:hover {
    background-color: #bd2929;
    /* Change the background color when hovered */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 180px; /* Adjust height as needed */
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* 
.flip-card-front {
    background-color: #bbb;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
