<!-- order-receipt.component.html -->
<div class="order-receipt-container">
    <h2 class="text-center">Order Receipt</h2> 
    <div class="order-details">
      <p><strong>Name:</strong> {{ orderDetails.name }}</p>
      <p><strong>Email:</strong> {{ orderDetails.email }}</p>
      <p><strong>Phone:</strong> {{ orderDetails.phone }}</p>
      <p><strong>Payment Method:</strong> {{ orderDetails.paymentMethod }}</p>
    </div>
  </div>