<div class="contan">
  <img src="assets/Images/logo.png" alt="Company Logo" class="logo">
  <div class="user-buttons">
    <button class="sub" [routerLink]="['/login']" style="background-color:white;color:black;">Log Out</button>
  </div>
</div>
<div class="searchItem" *ngFor="let c of card">
  <img src="{{c.img}}" alt="" class="siImg">
  <div class="siDesc">
    <h1 class="siTitle">{{c.name}}</h1>
    <p style="text-decoration: underline;font-size: 12px;"><i class="glyphicon glyphicon-map-marker"></i>{{c.loc}}</p>
    <span class="siTaxiOp">Free airport taxi</span>
    <span class="siSubtitle">{{c.sub}}</span>
    <span class="siCancelOp">Free cancellation </span>
  </div>
  <div>
    <div class="siDetailTexts"> 
      <span style="text-decoration: line-through;font-size: large;">INR {{c.price}}</span>
      <span style="color: red; font-size: medium;">10% savings</span>
        <span class="siPrice">From INR {{c.dispri}}</span>
        <span style="font-size:10px;">per night</span>
        <p class="siTaxOp">Excluded: INR 1539.00 in fees & taxes</p>
      <button class="siCheckButton" type="submit" [routerLink]="['/room']">See Availability</button>
    </div>
  </div>
</div>
<div class="card-4">
  <p>Check-In Date: {{ checkInDate }}</p>
  <p>Number of Guests: {{ numberOfGuests }}</p>
  <p>Check-Out Date: {{checkOutDate}}</p>
</div> 
<app-ft></app-ft>