.searchItem {
    max-width: 800px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px;
    margin-left:30%;
}
@media screen and (max-width: 768px) {
    .searchItem {
        flex-direction: column;
        align-items: center;
    }
}
.siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.siTitle {
    font-size: 20px;
    color: #0071c2;
}

.siDistance {
    font-size: 12px;
}

.siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.siSubtitle {
    font-size: 12px;
    font-weight: bold;
}

.siFeatures {
    font-size: 12px;
}

.siCancelOp {
    font-size: 12px;
    color: #008009;
    font-weight: bold;
}

.siDetailTexts {
    text-align:right;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.siPrice {
    font-size: 18px;
}

.siTaxOp {
    font-size: 13px;
    color: gray;
}

.siCheckButton {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* .card-4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 11.5%;
    padding: 20px;
    width: 300px;
    font-size: medium;
    gap: 10px;
    height: max-content;
} */
.contan{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.logo {
    width: 120px;
    height: auto;
}
.user-buttons{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    font-size: medium;
    padding-right: 20px;
}
.sub{
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
}
.card-4{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    font-size: medium;
    gap: 10px;
    height: max-content;
    position: absolute;
    top: 15%;
    left: 9.0%;
    padding: 20px;
    width: 300px;
}