<div class="contan">
  <img src="assets/Images/logo.png" alt="Company Logo" class="logo">
  <div class="user-buttons">
    <button class="sub" [routerLink]="['/login']" style="background-color:white;color:black;">Log Out</button>
  </div>
</div>
<div>
    <div class="card" *ngFor="let r of rooms">
        <div class="card-image">
            <span class="card-name">{{r.name}}</span><br>
            <img src="{{r.img}}" alt="" class="card-img" />
        </div>
        <span class="ic"><img src="assets/Images/icons.png" width="200px"></span>
        <div class="card-details">
            <div>
                <p style="font-size: medium; font-weight: bold;">Room at a glance</p><br>
            </div>
            <div class="card-type">
                <div class="type-1"><span>Number Of Guests:{{numberOfGuests}}</span></div>
                <div class="type-2">{{r.bed}}</div>
                <div class="type-2">Size {{r.size}}</div>
            </div>
            <div class="card-rating">
                <div class="per">
                    <span class="percent">-10%</span>
                    <span class="pri">{{ r.price }}</span>
                </div>
                <div class="per">
                    <span class="card-price">{{r.disprice}}</span>
                </div>
                <div class="n"><span>per night</span></div>
                <p style="font-size: small;font-weight: 500;">tax excluded</p>
                <button class="book" [routerLink]="['/pay']">Book Now</button>
            </div>
        </div>
    </div>
    <div class="card-left">
        <div class="card-5">
            <p>Check-In Date: {{ checkInDate }}</p>
            <p>Check-Out Date: {{checkOutDate}}</p>
          </div> 
        <div class="card-3">
            <div><img src="assets/Images/hotel3.avif"></div>
            <div>
                <p style="font-size: large;">ARU Blu Plaza Hotel,Banjara Hills,Hyderabad</p>
            </div>
            <div>
                <p
                    style="background-color: rgb(216, 170, 85); color: white; padding: 5px 10px;width: max-content;border-radius: 6px;font-size:12px;">
                    10% savings</p>
            </div>
            <div>
                <p style="font-size: 13px;">8-2-409 Road No. 6, Banjara Hills, Hyderabad, 500034, India</p>
            </div>
            <div class="no">
                <div><i class="glyphicon glyphicon-earphone"></i></div>
                <div>
                    <p>+919842315285</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-4">
        <div>4.5<img src="assets/Images/icon.png" width="150px"></div>
        <div>3 reviews</div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width:300px;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <p>I loved everything about the hotel the coordination is awesome.
                        your staff were very respectful and ready to serve dilligently.
                        Was impressed together with my colleugues we really enjoyed</p>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <p>Amazing food and great hospitality. We stayed here for two days
                        for a family function and throughly enjoyed our stay with huge and
                        comfortable rooms, most delicious buffet spread breakfast, lunch</p>
                </div>
                <div class="carousel-item">
                    <p>Spacious rooms, awesome food, helpful staff, great hospitality,
                        beautiful ambience. In all a memorable stay with extended family.
                        A place highly recommended to have events as well as stay.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<app-ft></app-ft>