.card {
    max-width: 720px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 0 4px;
    margin-left: 30%;
    height: 370px;
}

.card-image img {
    margin-top: 20px;
    width: 53%;
}

.ic {
    position: relative;
    top: -3%;
    left: 7%;
}

.card-details {
    text-align: left;
    position: absolute;
    left: 55%;
    margin-top: 48px;
}

.card-name {
    font-size: 25px;
    font-weight: bold;
}

.card-type {
    display: grid;
    gap: 10px;
    margin-top: -10px;
}

.type-1,
.type-2 {
    padding: 2px 4px;
    max-width: max-content;
    background-color: rgb(238, 230, 230);
    font-size: 15px;
    border-radius: 8px;
    font-weight: 300;

}

.card-rating {
    text-align: right;
    font-size: large;
    position: relative;
    left:85%;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 700;
}

.per {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.percent {
    background-color: green;
    border-radius: 10px;
    color: whitesmoke;
    padding: 3px 8px;
    font-size: 14px;
}

.pri {
    font-size: 14px;
    text-decoration: line-through;
    padding: 3px 8px;
    font-weight: lighter;
}

.card-price {
    font-size: larger;
}

.n {
    position: relative;
    font-size: small;
    font-weight: 400;
    margin-top: -10px;
}

.book {
    width: 80%;
    border-radius: 30px;
    background-color: rgb(93, 17, 17);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 5px;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card-image,
    .card-details {
        width: 100%;
    }
}

.card-left {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 9.5%;
    height: max-content;
}

.card-3 {
    display: flex;
    flex-direction: column;
}

.card-3>div {
    margin-bottom: 5px;
}

.card-3 img {
    width: 280px;
    height: 150px;
}

.card-3 span {
    font-weight: bold;
}

.glyphicon {
    margin-right: 5px;
}

.no {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-weight: 400;
    font-size: 13px;
}

.card-4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 9.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    font-size: medium;
    gap: 10px;
    height: max-content;
}
.carousel-inner{
    padding: 10px;
}
.contan{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.logo {
    width: 120px;
    height: auto;
}
.user-buttons{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    font-size: medium;
    padding-right: 20px;
}
.sub{
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
}
.card-5{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    font-size: medium;
    gap: 10px;
    height: max-content;
    position: absolute;
    left: 350%;
}