<div class="cont">
  <h1>Login</h1><br>
  <form (submit)="loginSubmit()" novalidate>
    <div class="form-group"> 
      <label for="email">Email</label>
      <input type="email" name="email" [(ngModel)]="credentials.email" #email="ngModel" required
             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
      <div *ngIf="email.errors?.['required'] && email.touched"  style="color: red;">
      <p> Please enter an email address</p>
      </div>
      <div *ngIf="email.errors?.['pattern'] && email.touched" class="error-message" style="color: red;">
      <p> Please enter a valid email format</p>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="credentials.password" #password="ngModel" required minlength="8">
      <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message" style="color: red;">
        <p>Please enter at least 8 characters for the password</p>
      </div>
      <div *ngIf="password.errors?.['required'] && password.touched" class="error-message" style="color: red;">
       <p> Please enter a valid password</p>
      </div>
    </div>
    <button type="submit">Login</button>
  </form><br>
  <div>Don't have an account?<a routerLink="/signup">Sign up</a></div>
</div>