/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #131b1b;
    color: #f1e8e8;
    font-family: Arial, sans-serif;
    margin-top: 70px;
    /* display: ; */
}

/* Footer headings */
footer h3 {
    margin: 0 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer lists */
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Footer links */
footer a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px 0;
    transition: transform 0.3s;
    /* Add transition for smooth movement */
}

/* Footer links hover effect */
footer a:hover {
    color: rgb(223, 91, 91);
    transform: translateY(-10px);
    /* Move the icon up on hover */
}

/* Footer social icons */
footer .social-icons {
    display: flex;
    margin-top: 10px;
}

/* Footer social icons link */
footer .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    transition: transform 0.3s;
    /* Add transition for smooth movement */
}

/* Footer social icons image */
footer .social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
}

.footer a:hover {
    color: #2225dd;
    transform: translateY(-20px);
    /* Move the icon up on hover */
}
