<!-- Your HTML Form -->
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" class="feedback-form">
    
    <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" formControlName="rating" class="form-control" />
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" class="form-control" />
        <div *ngIf="submitted && feedbackForm.get('name')?.hasError('required')" class="alert alert-danger">
            Name is required
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control" />
        <div *ngIf="submitted && feedbackForm.get('email')?.hasError('required')" class="alert alert-danger">
            Email is required
        </div>
        <div *ngIf="submitted && feedbackForm.get('email')?.hasError('email')" class="alert alert-danger">
            Invalid email address
        </div>
    </div>

    <div class="form-group">
        <label for="review">Review:</label>
        <textarea formControlName="review" class="form-control"></textarea>
        <div *ngIf="submitted && feedbackForm.get('review')?.hasError('required')" class="alert alert-danger">
            Review is required
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit Review</button>
</form>