.feedback-form {
    max-width: 400px;
    margin: 0 auto;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(12, 0, 0, 0.947);
    transition: box-shadow 0.3s ease;
    margin-top: 30px;
  }
  
  .feedback-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #0f0d0d;
    border-radius: 6px;
    font-size: 16px;
    background-color: #d1dee6;
    transition: border-color 0.3s ease;
  }
  
  input[type="number"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #007bff;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #0c0b0bde;
    padding: 12px;
    margin-top: 8px;
    border-radius: 6px;
  }
  
  .btn-primary {
    background-color: black;
    color: #fff;
    padding: 14px ;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #2F4F4F;
  }