.admin {
    width: 100%;
    height: 400px;
    background: url('https://wallpapercave.com/wp/wp2508380.jpg') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  
  .admin-table-container {
    box-shadow: 0 4px 8px rgba(195, 228, 5, 0.1);
    margin-top: 20px;
    overflow-x: auto;
    width: 80%;
    
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .admin-table tbody tr {
    background-color: #f9f9f9;
  }
  
  .admin-table tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  .admin-table td button, .admin-table td button:hover {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-table td button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .admin-table th, .admin-table td {
      padding: 8px;
    }
  
    .admin-table-container {
      width: 100%;
    }
  }
  
  .admin-feedbacks-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.959);
  }
  
  .admin-feedbacks-heading {
    font-size: 32px;
    color: #333;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  
  .admin-feedback {
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  
  .admin-feedback p {
    margin: 10px 0;
  }
  
  .admin-feedback p:first-child {
    font-weight: bold;
  }
  
  .admin-feedback:hover {
    background-color: #f5f5f5;
  }
  
  /* Optional: Add some styling to improve readability */
  .admin-feedback p:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Add some styling to the rating */
  .admin-feedback p:first-child::before {
    content: "\2605"; /* Unicode character for a star */
    color: #f39c12;
    margin-right: 5px;
  }
  
  /* Optional: Add animation for the star */
  .admin-feedback p:first-child::before {
    display: inline-block;
    transform: rotateY(360deg);
    animation: rotateStar 1s infinite;
  }
  
  @keyframes rotateStar {
    to {
      transform: rotateY(0deg);
    }
  }