<div class="admin">
  <h1>Admin Page</h1>
  <div class="admin-table-container">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Coustomer Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Password</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.password }}</td>
          <td><button (click)="updateItem(item)">Update</button></td>
          <td><button (click)="deleteItem(item.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showUpdateForm">
    <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
      <input type="text" formControlName="name" placeholder="Name">
      <input type="text" formControlName="email" placeholder="Email">
      <input type="text" formControlName="gender" placeholder="Gender">
      <input type="text" formControlName="password" placeholder="Password">
      <button type="submit">Submit Update</button>
    </form>
  </div>
</div>

<div class="admin-feedbacks-container">
  <h3 class="admin-feedbacks-heading">Feedbacks</h3>
  <ul>
    <li *ngFor="let feedback of feedbacks" class="admin-feedback">
      <p>Rating: {{ feedback.rating }}</p>
      <p>Name: {{ feedback.name }}</p>
      <p>Email: {{ feedback.email }}</p>
      <p>Review: {{ feedback.review }}</p>
    </li>
  </ul>
</div>