<form [formGroup]="DetailsForm">   
    <div class="contan">
        <img src="assets/Images/logo.png" alt="Company Logo" class="logo">
    </div>
    <div class="card">
        <h3>Personal Information</h3>
        <div class="sur">
            <div> <input type="radio" formControlName="title" value="Mrs."><label>Mrs.</label></div>
            <div> <input type="radio" formControlName="title" value="Mr."><label>Mr.</label></div>
            <div> <input type="radio" formControlName="title" value="Other"><label>Other</label></div>
        </div>
        <div class="title"><span>First name*</span>
            <input type="text" formControlName="firstName">
        </div>
        <div class="title"><span>Last name*</span>
            <input type="text" formControlName="lastName">
        </div>
        <div class="title"><span>Email*</span>
            <input type="text" formControlName="email">
        </div>
        <div class="policy">
            <div><input type="checkbox" formControlName="receiveNews"></div>
            <div>
                <p><i>Yes, I would like to receive news via email and commercial offers from the ARU Hotel Group. I can
                    opt out any time. See our full privacy policy</i></p>
            </div>
        </div>
        <div class="title"><span>Address*</span>
            <input type="text" formControlName="address">
        </div>
        <div class="ph"><span>Phone Number*</span>
            <input type="text" formControlName="phoneNumber" placeholder="eg.+91 XXXXX XXXXX">
            <div>
                <p><i>By providing a phone number, I agree to receive information about online check-in and check-out via
                    WhatsApp from ARU Hotel Group.</i></p>
            </div>
        </div>
        <div>
            <p>Check-In Date: {{ checkInDate }}</p>
            <p>Check-In Date: {{ checkOutDate }}</p>
            <p>Number of Guests: {{ numberOfGuests }}</p>
        </div>
        <button style="width: 40%; margin-left: 30%;" [routerLink]="['/suc']">Pay Now</button>
    </div>
</form>
