.contan{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

.logo {
    width: 120px;
    height: auto;
}
.card {
    max-width: max-content;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 370px;
    font-size: small;
    height: max-content;
    margin-left:25% ;
}
.title{
    display: flex;
    flex-direction: column;
}
.title input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    width: 50%;

}
.policy{
    display: flex;
    gap: 5px;
}
.ph{
    display: flex;
    flex-direction: column;
}
.ph input{
    width: 25%;
}
.sur div{
    display:inline-block;
    margin-right: 20px;
}