<body>
<div class="conta">
    <h1>User Signin</h1>
<form (ngSubmit)="onSubmit()">
    <label for="Name">Name  </label>
    <input type="text" name="Name" ngModel [(ngModel)]="user.name"><br>

    <label for="email">Email  </label>
    <input type="text" name="email" ngModel #email="ngModel" [(ngModel)]="user.email" required minlength="8"><br>
    <div *ngIf= "email.errors?.['required'] && email.touched" style="color: red;"> <p>Enter valid Email</p></div>
    <div *ngIf="email.errors?.['minlength']" style="color: red;"> <p>8 characters minimum for Email</p></div>

    <label for="password">Password</label>
    <input type="password" name="password" ngModel #password="ngModel" [(ngModel)]="user.password" required minlength="9" ><br>
    <div *ngIf= "password.errors?.['required'] && password.touched" style="color: red;"> <p>Enter valid Password</p></div>
    <div *ngIf="password.errors?.['minlength']" style="color: red;"> <p>9 characters minimum for Password</p></div>

    <label>Conform Password</label>
    <input type="password" name="conformpass" ngModel><br>
    
    <label for="gender">Gender</label>
    <select name="gender" id="gender"  ngModel [(ngModel)]="user.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option></select><br>
    <input type="submit" value="Register">
</form>
</div>
</body>