
.conta {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px;
}
h1 {
    text-align: center;
    font-size: larger;
}
p{
    font-size: x-small;
}
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    margin-left: 40%;
    margin-top: 20px;
    background-color: lightgreen;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}


