<div class="contan">
  <img src="assets/Images/logo.png" alt="Company Logo" class="logo">
  <div class="user-buttons">
    <button class="sub" [routerLink]="['/login']" style="background-color:white;color:black;">Sign In</button>
    <button class="sub" [routerLink]="['/signup']" style="background-color:white;color:black;">Sign Up</button>
  </div>
</div>
<div class="main-content">
  <div class="container">
    <div class="search-form">
      <form class="sub-conta" [formGroup]="bookingForm">
        <div>
          <div><label for="check-in">Check-in Date</label></div>
          <div> <input type="date" id="check-in" name="check-in" formControlName="checkInDate" required></div>
          <div *ngIf="bookingForm.controls['checkInDate'].errors?.['pastDate']" class="text-danger">
            Check-in date cannot be a past date.
          </div>
        </div>
        <div style="border-left:1px solid black;height: 60px;">
          <div>
            <h1></h1>
          </div>
        </div>
        <div>
          <div> <label for="check-out">Check-out Date</label></div>
          <div> <input type="date" id="check-out" name="check-out" formControlName="checkOutDate" required></div>
        </div>
        <div style="border-left:1px solid black;height: 60px;">
          <div>
            <h1></h1>
          </div>
        </div>
        <div>
          <div> <label for="numberOfGuests">Number of Guests:</label></div>
          <div> <input type="text" id="numberOfGuests" name="numberOfGuests" formControlName="numberOfGuests" required style="width: 50%;border:none;
            border-bottom: 1px solid black;
            outline: none;
            width: 50%;font-size: 15px;">
          </div>
        </div>
        <div style="border-left:1px solid black;height: 60px;">
          <div>
            <h1></h1>
          </div>
        </div>
        <button class="sub" type="button" (click)="goToRoomPage()">Search Room</button>
      </form>
    </div>
  </div>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Images/c1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Images/c3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Images/c2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer></app-footer>
<app-ft></app-ft>