.contan{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}
.user-buttons{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    font-size: medium;
    padding-right: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 120px;
    height: auto;
}
.main-content {
    background-color: darkslategray;
    padding: 20px;
    margin-top: 0%;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items:center;
}

input[type="date"],
select {
    width: 150px;
    padding: 5px;
    /* border: 1px solid #ccc; */
    border: none;
    font-size: 15px;
}

.sub{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
}

.sub-conta {
    display: flex;
    border-radius: 25px;
    width: 75%;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}
.carousel-item img {
    width: 100%;
    height: 600px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */ 
    /* Add border-radius for rounded corners */
  }
  
  .carousel-caption {
    color: #fff; /* White text color */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px; /* Add padding */
  }
  
  .carousel-caption h5,
  .carousel-caption p {
    margin: 0; /* Remove default margin */
  }
  
  .carousel-caption h5 {
    font-size: 24px; /* Adjust heading font size */
    font-weight: bold; /* Make heading bold */
  }
  
  .carousel-caption p {
    font-size: 18px; /* Adjust paragraph font size */
  }
  
